.header {
    height: 100vh;
    background-image: linear-gradient(to left top, 
    rgba(255, 253, 253, 0.801),
     rgba(117, 168, 197, 0.822)), 
     url(../img/img-background.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100vh); 

    &__logo-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        backface-visibility: hidden;
    }

    &__logo {
        height: 11rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
}