.header {
    height: 100vh;

    &__logo-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        backface-visibility: hidden;
    }

    &__logo {
        height: 11rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
}