/* Small devices (iPhone X, 350px and up) */
/* Mobile First */

.header {
    height: 100vh;

    &__logo-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__logo {
        height: 13vh;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        
    }

    &__text-box {
        position: absolute;
        top: 51%;
        left: 50.35%;
        transform: translate(-50%, -50%);
        width: 28em;
        text-align: center; 
    }
}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
} 
  
// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {
}
   
// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
} 
  

