*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

/* Small devices (iPhone X, 350px and up) */
/* Mobile First */

html {
    // Defines what 1rem is
    font-size: 40%;
    // Perfect Background image based on display size.
    background: url(images/background-gradient-1200.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
    html {
        font-size: 55%;
        background: url(images/background-gradient-1200.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
} 

// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {
    html {
        font-size: 62.5%;
        background: url(images/background-gradient-1200.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
 
// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
    html {
        font-size: 65%;
        background: url(images/background-gradient-1200.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
} 
