*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

/* Small devices (iPhone X, 350px and up) */
/* Mobile First */

html {
  // Defines what 1rem is
  font-size: 40%;
}


