/* Small devices (iPhone X, 350px and up) */
/* Mobile First */
.heading-primary--main {
    margin-top: 1rem;
    min-width: 30rem;
    color: #ffffff;
    display: block;
    font-size: 1.65rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
    text-transform: uppercase;

    animation: moveInRight 1s ease-out;

    /*iPhone 5 and SE*/
    @media only screen and (max-width: 360px) {
        font-size: 1.2rem;
    } 
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
    .heading-primary--main {
      font-size: 1.9rem;
    }
} 
  
// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {
    .heading-primary--main {
      font-size: 1.95rem;
    }
}
   
// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
    .heading-primary--main {
        font-size: 2rem;
        margin-top: 1.2rem;
    }
} 
