{{ define "main" }}
<div class="homepage">
    <div class="homepage__logo-box">
        <img src="images/Carlo_Teran_logo.png" alt="carlo-teran-logo" class="homepage__logo">
        <h1 class="heading-primary--main">Code Writer | Web Developer</h1>
        <div class="social">
          <a href="https://www.linkedin.com/in/carloteran/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
          <a href="https://twitter.com/CarloTeran" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>    
          <a href="https://github.com/carloteran19" target="_blank"><ion-icon name="logo-github"></ion-icon></a>   
          <a href="https://dev.to/carloteran19" target="_blank"><ion-icon src="images/dev-badge.svg"></ion-icon></a>
        </div>
    </div>
</div>  
{{ end }}