/* Small devices (iPhone X, 350px and up) */
/* Mobile First */
.homepage {
    height: 100vh;

    &__logo-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;
    }

    &__logo {
        height: 11.5rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        
        /*iPhone 5 and SE*/
        @media only screen and (max-width: 360px) {
            height: 9rem;
        } 
    }

    // Perfect Background image based on display size.
    background: 
    linear-gradient(to left bottom, 
    rgba(0, 0, 0, 0.719),
    rgba(0, 0, 0, 0.767)), 
    url(images/background-900.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
  
  
  // Medium devices (tablets, 768px and up)
  @media only screen and (min-width: 768px) {
       background: 
       linear-gradient(to left bottom, 
       rgba(0, 0, 0, 0.719),
       rgba(0, 0, 0, 0.767)), 
       url(images/background-1200.jpg) no-repeat center center fixed; 
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;

       .homepage__logo {
        height: 12rem;
       }
  } 
  
  // Large devices (desktops, 992px and up)
  @media only screen and (min-width: 992px) {
      background: 
      linear-gradient(to left bottom, 
      rgba(0, 0, 0, 0.719),
      rgba(0, 0, 0, 0.767)), 
      url(images/background-1400.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .homepage__logo {
        height: 12.5rem;
      }
  }
   
  // Extra large devices (large desktops, 1200px and up)
  @media only screen and (min-width: 1200px) {
      background:
      linear-gradient(to left bottom, 
      rgba(0, 0, 0, 0.719),
      rgba(0, 0, 0, 0.767)), 
      url(images/background-1700.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .homepage__logo {
        height: 12.7rem;
      }
  } 
}