/* Small devices (iPhone X, 350px and up) */
/* Mobile First */
.homepage {
    height: 100vh;

    &__logo-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;
    }

    &__logo {
        height: 11.5rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        
        /*iPhone 5 and SE*/
        @media only screen and (max-width: 360px) {
            height: 9rem;
        } 
    }
}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
    .homepage__logo {
        height: 12rem;
    }
} 
  
// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {
    .homepage__logo {
        height: 12.5rem;
    }
}
   
// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
    .homepage__logo {
        height: 12.7rem;
    }
} 
  